
@import "./HEADER/header";
@import "./all/p1/home";
@import "./all/p2/about";
@import "./all/p3/main";
@import "./all/p4/p4";
@import "./all/p5/p5";
@import "./HEADER/footer";


@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.contianer {
    max-width: 1280px;
    margin: 0 auto;
}
body {
    background-image: url("../assets/icons/Grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1c1c28;

}
