@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Flow+Circular&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/Grid-Top.svg");
  background-position: center;
  background-size: cover;
  padding: 20px 40px;
}
header .contianer {
  display: flex;
  flex-direction: column;
}
header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 100px;
  height: 80px;
  cursor: pointer;
}
@media (max-width: 700px) {
  header .logo {
    width: 80px;
    height: 60px;
  }
}
header nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav ul {
  display: flex;
  gap: 40px;
}
header nav ul li {
  display: flex;
  gap: 30px;
}
@media (max-width: 1135px) {
  header nav ul li {
    gap: 20px;
  }
}
header nav ul li a {
  color: #fff;
  font-size: 18px;
  font-family: "Space Mono";
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1135px) {
  header nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  header nav ul li a {
    display: none;
  }
}
header nav ul li a:hover {
  color: #d0cfcf;
}
header nav .btn {
  padding: 12px 14px;
  background-color: #6966FF;
  color: #fff;
  font-family: "Space Mono";
  font-weight: 500;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}
header nav .btn:hover {
  background-color: #7a78fc;
}
@media (max-width: 700px) {
  header nav .btn span {
    display: none;
  }
}
@media (max-width: 360px) {
  header nav .btn {
    display: none;
  }
}
header nav img {
  display: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  header nav img {
    width: 30px;
    display: block;
  }
}
header .header-text {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .header-text-img {
  position: absolute;
  top: 264px;
  right: 330px;
  width: 277px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media (max-width: 1135px) {
  header .header-text-img {
    top: 180px;
    right: 180px;
    width: 200px;
  }
}
@media (max-width: 1000px) {
  header .header-text-img {
    display: none;
  }
}
@media (max-width: 500px) {
  header .header-text-img {
    display: block;
    top: 300px;
    right: 100px;
  }
}
@media (max-width: 431px) {
  header .header-text-img {
    display: none;
  }
}
header .header-text h1 {
  width: 60%;
  margin: 0 auto;
  font-family: "Circulars", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.022em;
  text-align: center;
  color: #fff;
}
@media (max-width: 1135px) {
  header .header-text h1 {
    width: 80%;
    font-size: 60px;
  }
}
@media (max-width: 700px) {
  header .header-text h1 {
    line-height: 60px;
    width: 95%;
    font-size: 50px;
  }
}
@media (max-width: 320px) {
  header .header-text h1 {
    font-size: 30px;
    width: 100%;
  }
}
header .header-text-btn {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 500px) {
  header .header-text-btn {
    width: 100%;
    flex-wrap: wrap;
  }
}
header .header-text-btn button {
  border-radius: 8px;
  padding: 12px 19px;
  cursor: pointer;
  color: #fff;
  font-family: "Circulars", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
header .header-text-btn button:nth-child(1) {
  background-color: #393953;
}
@media (max-width: 500px) {
  header .header-text-btn button:nth-child(1) {
    width: 80%;
  }
}
header .header-text-btn button:nth-child(1):hover {
  background-color: #454560;
}
header .header-text-btn button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #6966FF;
}
@media (max-width: 500px) {
  header .header-text-btn button:nth-child(2) {
    width: 80%;
  }
}
header .header-text-btn button:nth-child(2):hover {
  background-color: #7674fe;
}
header .header-text-cards {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 720px) {
  header .header-text-cards {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .header-text-cards {
    flex-wrap: wrap;
    gap: 40px;
  }
}
header .header-text-cards .header-text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
@media (max-width: 500px) {
  header .header-text-cards .header-text-card {
    width: 100%;
  }
}
header .header-text-cards .header-text-card b {
  font-family: "Space Mono", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
}
header .header-text-cards .header-text-card p {
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #C8C7D8;
}
header .side-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  right: 0;
  background-color: hsla(240, 19%, 27%, 0.9);
  color: #fff;
  padding: 20px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
}
header .side-menu.active {
  top: 0;
}
header .side-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
header .side-menu-header-buttons {
  display: flex;
  align-items: center;
  gap: 42px;
}
header .side-menu-header-buttons .btn {
  padding: 12px 14px;
  background-color: #6966FF;
  color: #fff;
  font-family: "Space Mono";
  font-weight: 500;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}
header .side-menu-header-buttons .btn:hover {
  background-color: #7a78fc;
}
@media (max-width: 700px) {
  header .side-menu-header-buttons .btn span {
    display: none;
  }
}
@media (max-width: 360px) {
  header .side-menu-header-buttons .btn {
    display: none;
  }
}
header .side-menu .side-menu-close {
  font-size: 3rem;
  margin-top: 5px;
  text-align: right;
  color: #fff;
  cursor: pointer;
}
header .side-menu .side-menu-links {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}
header .side-menu .side-menu-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
header .side-menu .side-menu-links a:hover {
  color: #fff;
}
header .side-menu-footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
}
header .side-menu-footer img {
  width: 40px;
  cursor: pointer;
  margin: 0 20px;
}
@media (min-width: 1001px) {
  header .side-menu {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: "Circular";
  src: url("../../assets/fonts/CircularStd-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Circular";
  src: url("../../assets/fonts/CircularStd-Medium.woff2");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.contianer {
  max-width: 1380px;
  margin: 0 auto;
}

body {
  background-color: #1c1c28;
}/*# sourceMappingURL=main.css.map */