header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .logo {
        width: 100px;
        height: 80px;
    }
    nav {
        display: flex;
        gap: 40px;
        ul {
            display: flex;
            gap: 40px;
            li {
                a {
                    color: #fff;
                    font-size: 18px;
                    font-family: "Space Mono";
                    font-weight: 400;

                }
            }
        }
    }
   
}

