body{

    font-family: "Circular Std", sans-serif;
}

.container{
    a{
        text-decoration: none;
        header{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
.section{


    h1{
        text-align: center;
       margin-top: 100px;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.022em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    }
    
    .nav_bar{
        display: flex;
justify-content: start;
align-items: center;
gap: 40px;
    }
    
    .px_16{
       a{
        font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #C8C7D8;
       }
       a:hover{
        color: #fff;
       }
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #C8C7D8;
    
    }
    
    .all{
        padding: 12px 16px 0 16px;
        background: #393953;
    border-radius: 8px;
    }


}

.form-check .px_16{
    color: #C8C7D8;

}

.categories{
    margin-bottom: 160px;
    height: 150vh;
    .fff{
        color: #FFFFFF;
    }
    .category{
        color: #A59EBA;
    }

    .px_24{
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.019em;
text-align: left;
    }

.programs{
    text-align: left;
    border: 1px solid #393953;  
   background-color: #393953;
padding: 24px 24px;
border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
width: 390px;
border-radius: 16px;
.avatar{
   padding-top: 250px;
}

    .px_24{
        padding: 8px 0 8px 0;
    }
}
.programs:nth-child(4){
    padding-top: 8px;
}

.second{
    position: absolute;

}


}

}
